/* Answer choices */
#options>.row1>div,#options>.row2>div {
  border:3px black solid;
  padding:10px;
  background:rgba(0,0,0,.7);
  color: white;
  margin-bottom: 10px;
  font-size:2.1em;
  font-family: 'Baloo Thambi', cursive;
  width:200px;
  height:100px;
  text-align: center;


}
/* Font size for heading */
#heading {
  font-size:1.4em;
  font-family: 'Exo', sans-serif;

}
/* Image within heading, NBA logo */
#heading>img {
  width:50px;
  height: 50px;
}
/* Chaning display property of NBA logo and heading*/
#heading>img, #heading>h1 {
  display:inline-block;
}

/* Quiz Question */
#question, h2 {
  font-size: 2.4em;
  font-family: 'Exo', sans-serif;
  margin-bottom: 20px;
  border-bottom:3px white solid;
  text-align: center;
  background:rgba(0,0,0,.7);
}
/* Timer section */
#timer {
  font-size: 2em;
  margin-bottom:20px;
  position:relative;
  left:10%;
  top:50px;
  border:1px black solid;
  border-radius:100%;
  padding:10px;
  background:rgba(0,0,0,.7);
  display:inline-block;

}
/* Heading for scores - fonts */
.scoreHeading {

  font-size: 2em;
}
/* Score styling - numbers */
.score {
  font-size: 3em;
  font-family: 'Exo', sans-serif;


}
/* Score board */
#scoreSection {
  text-align: center;
}

/* Player and Computer score box */
#player1, #computer {
  display:inline-block;
  border: 3px black solid;
  width:45%;
  margin-right:10px;
  color:white;
  background:rgba(0,0,0,.7);
}

/* Putting questions in 2 rows */
.row1 {
  float: left;
}
.row2 {
  float: right;
}
/* Clearing Floats */
.clear {
  clear:both;
}

/* Game Borad */
#questionBoard {
  width: 50%;
  margin: 0 auto;

}

/* Image background */
body {
  /* -- Source: Pixelstalk.net --*/
  background-image: url('../assets/lebron.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:white;
  text-shadow: 10px 10px 10px black;
}

/* Try Again button */
#tryAgain {
  display:none;
  font-size: 3em;
  color:white;
  margin-top:30px;
  background:rgba(0,0,0,.7);
  width:200px;
  margin: 30px auto;
}
